<template>
  <div>
  <!-- <vue-particles
    class="particles"
    color="#a89b9b"
    :particleOpacity="0.7"
    :particlesNumber="60"
    shapeType="circle"
    :particleSize="4"
    linesColor="#a89b9b"
    :linesWidth="1"
    :lineLinked="true"
    :lineOpacity="0.4"
    :linesDistance="150"
    :moveSpeed="3"
    :hoverEffect="false"
    :clickEffect="false"
  >
  </vue-particles> -->
  <q-page class="flex flex-center">
    <q-card flat inline style="margin: 4%">
      <div v-if = "locale=='zh' ">
        <p>办公室：0755-26641630/ 0755-22672753/ 0755-86717869</p>
        <p>邮箱: openfiesta@mail.tsinghua.edu.cn </p>
      </div>

      <div v-else>
        <p>Office：0755-26641630/ 0755-22672753/ 0755-86717869</p>
        <p>Email: openfiesta@mail.tsinghua.edu.cn </p>
      </div>
    </q-card>
  </q-page>
</div>
</template>

<style>
/* .particles {
  position: fixed;
  height: auto;
  width: 100%;
  top: -150px;
  z-index: -1;
} */
</style>

<script>
import information0 from '../../statics/json/information.json'

export default {
  data () {
    return {
      information: [],
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.information = information0
  }
}
</script>
