<template>
  <div>
  <!-- <vue-particles
    class="particles"
    color="#a89b9b"
    :particleOpacity="0.7"
    :particlesNumber="60"
    shapeType="circle"
    :particleSize="4"
    linesColor="#a89b9b"
    :linesWidth="1"
    :lineLinked="true"
    :lineOpacity="0.4"
    :linesDistance="150"
    :moveSpeed="3"
    :hoverEffect="false"
    :clickEffect="false"
  >
  </vue-particles> -->
  <q-page class="flex flex-center">
    <q-card flat inline style="margin: 4%">
      <div v-if = "locale=='zh' ">
          <q-item-main>
            <div v-html= "contentcn">
            </div>
          </q-item-main>
      </div>

      <div v-else>
        <q-item-main>
          <div v-html="contenten">
          </div>
       </q-item-main>
      </div>
    </q-card>
  </q-page>
</div>
</template>

<style>
/* .particles {
  position: fixed;
  height: auto;
  width: 100%;
  top: -150px;
  z-index: -1;
} */
img {
  width: 100%;
}
</style>

<script>
import information0 from '../../statics/json/information.json'
import showdown from 'showdown'
import stringReplaceAll from 'string-replace-all'
var converter = new showdown.Converter()

export default {
  data () {
    return {
      information: [],
      a: [],
      contentcn: '',
      contenten: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.information = information0
    this.a = this.information[0]
    this.contentcn = converter.makeHtml(this.a['htmlcontent cn'])
    this.contenten = converter.makeHtml(this.a['htmlcontent en'])
    this.contentcn = stringReplaceAll(this.contentcn, 'http://localhost:1337', '../../statics')
    this.contenten = stringReplaceAll(this.contenten, 'http://localhost:1337', '../../statics')
  }
}
</script>
