<template>
  <q-page class="flex flex-center">
    <q-card>
      <q-card-media>
        <q-video src="../../statics/video/openfiesta.mp4" style="width: 853px; height: 480px; max-width: 90vw;" />
      </q-card-media>
    </q-card>
  </q-page>
</template>

<style>

</style>

<script>

</script>
