<template>
  <q-page class="flex flex-center">

  <div v-if = "locale=='zh' " class="row items-start justify-center">
    <router-link v-for="(a, index) in campus" :key="a.id" :to=" '/photowall/' + index">
          <q-card inline class="q-ma-sm" style="width:365px; height: auto">
                <q-card-media>
                    <img style="width:365px; height:auto" :src="require('src/statics' + a['photo'].url)" />
                </q-card-media>
            <q-card-main>
              {{ a['Brief CN'] }}
            </q-card-main>
          </q-card>
    </router-link>
  </div>

  <div v-else class="row items-start justify-center">
    <router-link v-for="(a, index) in campus" :key="a.id" :to=" '/photowall/' + index">
          <q-card inline class="q-ma-sm" style="width: 365px; height: auto">
                <q-card-media>
                    <img style="width:365px; height:auto" :src="require('src/statics' + a['photo'].url)" />
                </q-card-media>
            <q-card-separator />
            <q-card-main>
              {{ a['Brief EN'] }}
            </q-card-main>
          </q-card>
    </router-link>
  </div>
  </q-page>
</template>

<style>

</style>

<script>
import campus0 from '../../statics/json/campus.json'
campus0.sort(function (a, b) {
  if (a['Date'] > b['Date']) return -1
  if (a['Date'] < b['Date']) return 1
  return 0
})
export default {
  data () {
    return {
      campus: [],
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.campus = campus0
  },
  // computed: {
  //   reverseCampus () {
  //     return this.campus.reverse()
  //   }
  // },
  mount () {
  }
}

</script>
