<template>
  <q-page class="flex flex-center">
    <div v-if = "locale=='zh' " class="row items-center justify-center">
          <q-card inline class="q-ma-sm" flat style="width:1000px; height: auto">
            <q-card-media>
              <img style="width:900px; height:auto" :src="require('src/statics' + a['photo'].url)" />
            </q-card-media>
          </q-card>
    </div>

    <div v-else class="row items-center justify-center">
          <q-card inline class="q-ma-sm" flat style="width:1000px; height: auto">
            <q-card-media>
              <img style="width:900px; height:auto" :src="require('src/statics' + a['photo'].url)" />
            </q-card-media>
          </q-card>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
import campus0 from '../../statics/json/campus.json'
campus0.sort(function (a, b) {
  if (a['Date'] > b['Date']) return -1
  if (a['Date'] < b['Date']) return 1
  return 0
})
var campus1 = campus0
export default {
  data () {
    return {
      campus: [],
      a: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  methods: {
  },
  created () {
    this.campus = campus1
    var id = this.$route.params.photowallID
    this.a = this.campus[id]
  },
  mount () {
  }
}
</script>
