<template>
  <div>
    <q-page class="flex flex-center">
      <div v-if = "locale=='zh' " class="row items-center justify-center">
        <router-link v-for="(a, index) in faculty" :key="a.id" :to=" '/bio/' + index">
          <div v-if ="a['bio3']">
              <q-card inline class="q-ma-sm" style="width:365px; height: 300px">
                  <q-card-title>
                    <q-card-media>
                        <img style="height:100px; width:auto; border-radius: 50%;" :src="require('src/statics' + a['Photo'].url)">
                    </q-card-media>
                    {{ a['Name CN'] }}
                    <span slot="subtitle">
                      {{a['Title CN']}}
                      <br />
                      {{a['Organization CN']}}
                    </span>
                  </q-card-title>
                <q-card-separator />
                <q-card-main>
                  {{a['Research Interest CN']}}
                </q-card-main>
              </q-card>
            </div>
        </router-link>
      </div>

      <div v-else class="row items-center justify-center">
        <router-link v-for="(a, index) in faculty" :key="a.id" :to=" '/bio/' + index">
          <div v-if ="a['bio3']">
              <q-card inline class="q-ma-sm" style="width: 365px; height: 400px">
                <q-card-title>
                  <q-card-media>
                      <img style="height:100px; width:auto; border-radius: 50%;" :src="require('src/statics' + a['Photo'].url)">
                  </q-card-media>
                  {{ a['Name EN'] }}
                  <span slot="subtitle">
                    {{a['Title EN']}}
                    <br />
                    {{a['Organization EN']}}
                  </span>
                </q-card-title>
                <q-card-separator />
                <q-card-main>
                  {{a['Research Interest EN']}}
                </q-card-main>
              </q-card>
          </div>
        </router-link>
      </div>
    </q-page>
  </div>
</template>

<style>

</style>

<script>
// import axios from 'axios'
// var url = 'http://47.75.67.30:1337'
import faculty0 from '../../statics/json/faculty.json'
faculty0.sort(function (a, b) {
  if (a['Name EN'] < b['Name EN']) return -1
  if (a['Name EN'] > b['Name EN']) return 1
  return 0
})

export default {
  data () {
    return {
      faculty: [],
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.faculty = faculty0
    // axios.get(url + '/faculty')
    //   .then(response => {
    //     this.faculty = response.data
    //     // console.log(response)
    //   })
    //   .catch(error => { console.log(error) })
    //
    // for (let [index, value] of this.institute) {
    //   urlimg[index] = value['Logo'].url
    // }
  },
  mount () {

  }
}
</script>
