<template>
  <div>
  <!-- <vue-particles
    class="particles"
    color="#EB5558"
    :particleOpacity="0.5"
    :particlesNumber="60"
    shapeType="circle"
    :particleSize="3"
    linesColor="#EB5558"
    :linesWidth="1"
    :lineLinked="true"
    :lineOpacity="0.3"
    :linesDistance="200"
    :moveSpeed="5"
    :hoverEffect="false"
    :clickEffect="false"
  >
  </vue-particles> -->
  <q-page class="flex flex-center">
    <q-card flat inline style="margin: 4%">
      <div v-if = "locale=='zh' ">
        <div v-html="contentcn">
        </div>
      </div>

      <div v-else>
        <div v-html="contenten">
        </div>
      </div>
    </q-card>
  </q-page>
</div>
</template>

<style>
/* .particles {
  position: absolute;
  height: 1500px;
  width: 100%;
  top: 100px;
  z-index: -1;
} */
</style>

<script>
import information0 from '../../statics/json/information.json'
import showdown from 'showdown'
import stringReplaceAll from 'string-replace-all'
var converter = new showdown.Converter()

export default {
  data () {
    return {
      information: [],
      a: '',
      contentcn: '',
      contenten: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.information = information0
    this.a = this.information[2]
    this.contentcn = converter.makeHtml(this.a['htmlcontent cn'])
    this.contenten = converter.makeHtml(this.a['htmlcontent en'])
    this.contentcn = stringReplaceAll(this.contentcn, 'http://localhost:1337', '../../statics')
    this.contenten = stringReplaceAll(this.contenten, 'http://localhost:1337', '../../statics')
  }
}
</script>
