<template>
  <div>
    <q-page class="flex flex-center">
      <div v-if = "locale=='zh' " class="row items-center justify-center">
          <div v-if ="a['IID']">
            <div class="row">
              <div>
              <q-card inline class="q-ma-sm" style="width:365px; height: 300px">
                  <q-card-title>
                    <q-card-media>
                        <img style="height:100px; width:auto; border-radius: 50%;" :src="require('src/statics' + a['Photo'].url)">
                    </q-card-media>
                    {{ a['Name CN'] }}
                    <span slot="subtitle">
                      {{a['Title CN']}}
                      <br />
                      {{a['Organization CN']}}
                    </span>
                  </q-card-title>
                <q-card-separator />
                <q-card-main>
                  {{a['Research Interest CN']}}
                </q-card-main>
              </q-card>
            </div>
              <div>
                <q-card flat inline class="q-ma-sm" style="width:365px; height: 300px">
                  <q-card-main>
                    {{a['information CN']}}
                  </q-card-main>
                </q-card>
            </div>
          </div>
        </div>
      </div>

      <div v-else class="row items-center justify-center">
          <div v-if ="a['IID']">
            <div class="row">
              <div>
                <q-card inline class="q-ma-sm" style="width: 365px; height: 400px">
                  <q-card-title>
                    <q-card-media>
                        <img style="height:100px; width:auto; border-radius: 50%;" :src="require('src/statics' + a['Photo'].url)">
                    </q-card-media>
                    {{ a['Name EN'] }}
                    <span slot="subtitle">
                      {{a['Title EN']}}
                      <br />
                      {{a['Organization EN']}}
                    </span>
                  </q-card-title>
                  <q-card-separator />
                  <q-card-main>
                    {{a['Research Interest EN']}}
                  </q-card-main>
                </q-card>
              </div>
              <div>
                <q-card flat inline class="q-ma-sm" style="width: 365px; height: 400px">
                  <q-card-main>
                    {{a['information EN']}}
                  </q-card-main>
                </q-card>
              </div>
            </div>
          </div>
      </div>
    </q-page>
  </div>
</template>

<style>

</style>

<script>
import faculty0 from '../../statics/json/faculty.json'
faculty0.sort(function (a, b) {
  if (a['Name EN'] < b['Name EN']) return -1
  if (a['Name EN'] > b['Name EN']) return 1
  return 0
})

export default {
  data () {
    return {
      faculty: [],
      a: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.faculty = faculty0
    var id = this.$route.params.id
    this.a = this.faculty[id]
  }
}
</script>
