<template>
  <q-page class="flex flex-center">
  <div v-if = "locale=='zh' " class="row items-center justify-center">
    <div v-for="a in institute" :key="a.id">
          <q-card inline class="q-ma-sm" style="width:365px; height: 400px">
            <a target="_blank" :href="a['Official Website']">
              <q-card-title>
                <q-card-media>
                    <img style="width:100px; height:auto" :src="require('src/statics' + a['Logo'].url)" />
                </q-card-media>
                {{ a['Name CN'] }}
              </q-card-title>
            </a>
            <q-card-separator />
            <q-card-main>
              <div class="q-body-1 text-weight-regular">
                {{a['Introduction CN']}}
               </div>
            </q-card-main>
          </q-card>
    </div>
  </div>

  <div v-else class="row items-center justify-center">
    <div v-for="a in institute" :key="a.id">
          <q-card inline class="q-ma-sm" style="width: 365px; height: 400px">
            <a target="_blank" :href="a['Official Website']">
              <q-card-title>
                <q-card-media>
                    <img style="width:100px; height:auto" :src="require('src/statics' + a['Logo'].url)" />
                </q-card-media>
                {{ a['Name EN'] }}
              </q-card-title>
            </a>
            <q-card-separator />
            <q-card-main>
              <div class="q-body-1 text-weight-regular">
                {{a['Introduction EN']}}
              </div>
            </q-card-main>
          </q-card>
    </div>
  </div>

  </q-page>
</template>

<style>

</style>

<script>
// import axios from 'axios'
// var url = 'http://47.75.67.30:1337/institute'
import institute0 from '../statics/json/institute.json'
import { mapState } from 'vuex'
export default {
  data () {
    return {
      institute: [],
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  computed: mapState([
  ]),
  created () {
    this.institute = institute0
    // axios.get(url + '/institute')
    //   .then(response => {
    //     this.institute = response.data
    //     // console.log(response)
    //   })
    //   .catch(error => { console.log(error) })
    //
    // for (let [index, value] of this.institute) {
    //   urlimg[index] = value['Logo'].url
    // }
  },
  mount () {

  }
}

</script>
