<template>
  <div>
    <!-- <div class="q-caption" style="margin:30px">{{$t("introducation")}}</div> -->
    <q-card style="width: 100%; height: 700px">
    <q-carousel
      color ="white"
      arrows
      quick-nav
      infinite
      autoplay
      height= "700px"
    >
      <q-carousel-slide class="text-white row flex-center" img-src="../statics/img/isdg.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="q-display-1">iSDG Shenzhen Assembly 2017</div>
          <div class="q-headline">iSDG Global Co-opetition </div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide class="text-white row flex-center" img-src="../statics/img/isdgphoto.png">
        <div class="absolute-bottom custom-caption">
          <div class="q-display-1">iSDG Exhibition</div>
          <div class="q-headline"> Co-designing innovative solutions for sustainability </div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide class="text-white row flex-center" img-src="../statics/img/learningbydoing.JPG">
        <div class="absolute-bottom custom-caption">
          <div class="q-display-1">Learning by doing * iSDG workshop 2018</div>
          <div class="q-headline"> Sophie with students </div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide class="text-white row flex-center" img-src="../statics/img/lunwendabian.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="q-display-1">Dissertation Defense</div>
          <div class="q-headline"> Graduate Students with Open FIESTA Mentors </div>
        </div>
      </q-carousel-slide>
      <q-carousel-slide class="text-white row flex-center" img-src="../statics/img/uspc.jpg">
        <div class="absolute-bottom custom-caption">
          <div class="q-display-1">USPC Shenzhen Visit</div>
          <div class="q-headline">USPC and CRI visit Shenzhen</div>
        </div>
      </q-carousel-slide>
    </q-carousel>
  </q-card>
  <q-page class="flex flex-center">
    <!-- {{$t("descartes")}} -->
      <!-- <q-card>
        <q-card-title>
        </q-card-title>
        <q-card-media>
        </q-card-media>
      </q-card> -->
  </q-page>
</div>
</template>

<style>
.custom-caption {
  text-align: center;
  padding: 12px;
  color: $grey-4;
  background: rgba(0, 0, 0, 0.5);
}

</style>

<script>
export default {
  name: 'PageIndex'
}
</script>
