<template>
  <q-page class="flex flex-center">
    <div v-if = "locale=='zh' " class="row items-center justify-center">
      <div class="row">
        <div>
          <q-card inline class="q-ma-sm" style="width:500px; height: auto">
            <q-card-media>
              <img style="width:auto; height:auto" :src="require('src/statics' + a['poster'].url)" />
            </q-card-media>
          </q-card>
        </div>
        <div inline class="q-ma-sm">
          <q-card flat style="width:500px; height: 400px">
            <q-card-title>
              {{a['title CN']}}
            </q-card-title>
            <q-card-main>
              {{a['introduction CN']}}
              <p></p>
              <q-card-separator />
              {{a['member CN']}}
            </q-card-main>
          </q-card>
        </div>
      </div>
    </div>

    <div v-else class="row items-center justify-center">
      <div class="row">
        <div>
          <q-card inline class="q-ma-sm" style="width:500px; height: auto">
            <q-card-media>
              <img style="width:auto; height:auto" :src="require('src/statics' + a['poster'].url)" />
            </q-card-media>
          </q-card>
        </div>
        <q-card flat style="width:500px; height: 400px">
          <q-card-title>
            {{a['title EN']}}
          </q-card-title>
          <q-card-main>
            {{a['introduction EN']}}
            <p></p>
            <q-card-separator />
            {{a['member EN']}}
          </q-card-main>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
import project0 from '../statics/json/project.json'
export default {
  data () {
    return {
      project: [],
      a: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  methods: {
  },
  created () {
    this.project = project0
    var id = this.$route.params.projectID
    this.a = this.project[id]
  },
  mount () {
  }
}
</script>
