<template>
  <q-page class="flex flex-center">
    <div v-if = "locale=='zh' " class="row items-center justify-center">
      <router-link v-for="(a, index) in project" :key="a.id" :to = " '/project/' + index">
            <q-card inline class="q-ma-sm" style="width:365px; height: 200px">
              <!-- <q-card-media>
                  <img style="width:100px; height:auto" :src="require('src/statics'  + a['Poster'].url)" />
              </q-card-media> -->
                <q-card-title>
                  {{ a['title CN'] }}
                </q-card-title>
              <q-card-separator />
              <q-card-main>
                <div class="q-body-1 text-weight-regular">
                 </div>
              </q-card-main>
            </q-card>
      </router-link>
    </div>
    <div v-else class="row items-center justify-center">
      <router-link v-for="(a, index) in project" :key="a.id" :to = " '/project/' + index">
              <q-card inline class="q-ma-sm" style="width: 365px; height: 200px">
                <q-card-title>
                  <q-card-media>
                      <!-- <img style="width:100px; height:auto" :src="require('src/statics' + a['poster'].url)" /> -->
                  </q-card-media>
                  {{ a['title EN'] }}
                </q-card-title>
              <q-card-separator />
              <q-card-main>
                <div class="q-body-1 text-weight-regular">
                </div>
              </q-card-main>
            </q-card>
      </router-link>
    </div>
  </q-page>
</template>

<style>

</style>

<script>
import project0 from '../statics/json/project.json'
export default {
  data () {
    return {
      project: [],
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.project = project0
  },
  mount () {

  }
}
</script>
