<template>
  <q-page class="flex flex-center">
      <q-card flat inline style="margin: 4%">
        <router-link v-for ="(a, index) in news" :key="a.id" :to = " '/news/' + index">
          <div v-if = "locale=='zh' ">
            <p v-if = "a['Title CN']">
              {{a['Date'].substring(10,-1)}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{a['Title CN']}}
            </p>
          <q-item-separator />
         </div>
         <div v-else>
           <p v-if = "a['Title EN']">
             {{a['Date'].substring(10,-1)}}
             &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             {{a['Title EN']}}
           </p>
           <q-item-separator />
         </div>
        </router-link>
      </q-card>
  </q-page>
</template>

<style>

</style>

<script>
import new0 from '../../statics/json/new.json'
// import moment from 'moment'
new0.sort(function (a, b) {
  if (a['Date'] > b['Date']) return -1
  if (a['Date'] < b['Date']) return 1
  return 0
})

export default {
  data () {
    return {
      news: [],
      wdate: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.news = new0
  }
}
</script>
