<template>
  <q-page class="flex flex-center">
      <q-card flat inline style="margin-left: 4%; margin-right: 4%">
        <div v-if = "locale=='zh' ">
          <q-list-title>
            <H6>{{a['Title CN']}}</H6>
          </q-list-title>
          <p>
            <q-btn
             @click="$router.push('/news')"
              color="secondary"
              :label="$t('goback')"
              style = "position: absolute; right: 3%; top: 2.2%"
            />
          </p>
          <q-item-separator />
          <q-card inline flat style="margin: 4%">
            <q-item-main>
              <div v-html = "contentcn">
              </div>
            </q-item-main>
          </q-card>
           <q-item-separator />
           <q-btn
            @click="$router.push('/news')"
             color="secondary"
             :label="$t('goback')"
             style = "position: absolute; right: 3%; bottom: 0.3%"
           />
           <p>{{a['Reporter CN']}} {{wdate}}</p>
        </div>

        <div v-else>
            <q-list-title>
              <H6>{{a['Title EN']}}</H6>
            </q-list-title>
            <p>
              <q-btn
               @click="$router.push('/news')"
                color="secondary"
                :label="$t('goback')"
                style = "position: absolute; right: 3%"
              />
            </p>
            <q-item-separator />
            <q-card inline flat style="margin: 4%">
              <q-item-main>
                <div v-html = "contenten">
                </div>
              </q-item-main>
            </q-card>
             <q-item-separator />
             <q-btn
              @click="$router.push('/news')"
               color="secondary"
               :label="$t('goback')"
               style = "position: absolute; right: 3%"
             />
             <p>{{a['Reporter EN']}} {{wdate}}</p>
        </div>
      </q-card>
  </q-page>
</template>

<style>
img {
  width: 100%;
}
</style>

<script>
import new0 from '../../statics/json/new.json'
new0.sort(function (a, b) {
  if (a['Date'] > b['Date']) return -1
  if (a['Date'] < b['Date']) return 1
  return 0
})
import showdown from 'showdown'
import stringReplaceAll from 'string-replace-all'
import moment from 'moment'
var converter = new showdown.Converter()

export default {
  data () {
    return {
      news: [],
      a: '',
      contentcn: '',
      contenten: '',
      locale: this.$store.state.locale,
      wdate: ''
    }
  },
  watch: {
  },
  created () {
    this.news = new0
    var id = this.$route.params.newsID
    this.a = this.news[id]
    var adate = this.a.Date
    this.wdate = moment(adate).format('L')
    this.contentcn = converter.makeHtml(this.a['content CN'])
    this.contenten = converter.makeHtml(this.a['Content EN'])
    this.contentcn = stringReplaceAll(this.contentcn, 'http://localhost:1337', '../../statics')
    this.contenten = stringReplaceAll(this.contenten, 'http://localhost:1337', '../../statics')
  }
}
</script>
