<template>
  <q-page class="flex flex-center">
      <q-card flat inline style="margin-left: 4%; margin-right: 4%">
        <div v-if = "locale=='zh' ">
          <q-list-title>
          </q-list-title>
          <q-btn
           @click="$router.push('/notice')"
            color="secondary"
            :label="$t('goback')"
            style = "position: absolute; right: 2.5%; top: 9.5%"
          />
            <H6>{{a['Title CN']}}</H6>
          <p></p>
          <q-item-separator />
            <q-item-main>
              <div v-html = "contentcn">
              </div>
            </q-item-main>
           <q-item-separator />
           <p>{{a['Reporter CN']}}</p>
        </div>

        <div v-else>
            <q-list-title>
              <q-btn
               @click="$router.push('/notice')"
                color="secondary"
                :label="$t('goback')"
                style = "position: absolute; right: 2.5%; top: 8.0%"
              />
              <H6>{{a['Title EN']}}</H6>
            </q-list-title>
            <p>
            </p>
            <q-item-separator />
            <q-item-main>
              <div v-html = "contenten">
              </div>
            </q-item-main>
             <q-item-separator />
             <p>{{a['Reporter EN']}}</p>
        </div>
      </q-card>
  </q-page>
</template>

<style>
img {
  width: 100%;
}
</style>

<script>
import notice0 from '../../statics/json/notice.json'
notice0.sort(function (a, b) {
  if (a['Date'] > b['Date']) return -1
  if (a['Date'] < b['Date']) return 1
  return 0
})
import showdown from 'showdown'
import stringReplaceAll from 'string-replace-all'
var converter = new showdown.Converter()

export default {
  data () {
    return {
      notice: [],
      a: '',
      contentcn: '',
      contenten: '',
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.notice = notice0
    var id = this.$route.params.noticeID
    this.a = this.notice[id]
    this.contentcn = converter.makeHtml(this.a['content CN'])
    this.contenten = converter.makeHtml(this.a['content EN'])
    this.contentcn = stringReplaceAll(this.contentcn, 'http://localhost:1337', '../../statics')
    this.contenten = stringReplaceAll(this.contenten, 'http://localhost:1337', '../../statics')
  }
}
</script>
