<template>
  <q-page class="flex flex-center">
    <q-card flat inline style="margin-left: 4%; margin-right: 4%">
     <router-link v-for ="(a, index) in notice" :key="a.id" :to = " '/notice/' + index">
        <div v-if = "locale=='zh' ">
            <p v-if = "a['Title CN']">
              {{a['Date'].substring(10,-1)}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{a['Title CN']}}
            </p>
           <q-item-separator />
        </div>
        <div v-else>
              <p v-if = "a['Title EN']">
                {{a['Date'].substring(10,-1)}}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{a['Title EN']}}
             </p>
             <q-item-separator />
        </div>
      </router-link>
      </q-card>
  </q-page>
</template>

<style>

</style>

<script>
import notice0 from '../../statics/json/notice.json'
notice0.sort(function (a, b) {
  if (a['Date'] > b['Date']) return -1
  if (a['Date'] < b['Date']) return 1
  return 0
})
export default {
  data () {
    return {
      notice: [],
      locale: this.$store.state.locale
    }
  },
  watch: {
  },
  created () {
    this.notice = notice0
  }
}
</script>
