<template>
<q-layout view="lHh lpr lff">
      <div class="flex flex-center">
        <q-card flat style="width: 333px; margin-top: 100px;">
          <router-link :to="'/' ">
            <q-card-media>
              <img v-if = "locale=='zh' " class ="logomain" src="../statics/logo_cn.png">
              <img v-else class ="logomain" src="../statics/logo_en.png">
            </q-card-media>
          </router-link>
        </q-card>
      </div>
      <span class="gt-sm inline">
        <div class="row grey-9 q-body-2">
          <div class="col-xs-12 col-sm-6 col-md-2">
            <div v-show = "$route.path == '/' " class="flex flex-center">
              <!-- <q-btn dense flat color="grey-8" v-if = "locale=='zh' " @click="switchEnglish" label=" English ">
              </q-btn>
              <q-btn dense flat color="grey-8" v-else @click="switchChinese" label=" 简体中文 ">
              </q-btn> -->
              <q-select
                separator
                inverted-light
                inset
                class ="q-body-2"
                v-model="lang"
                :options="langs"
              />
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-6"></div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="flex flex-center">
              <div v-show = "$route.path == '/' ">
                <q-icon name="fab fa-lg fa-weixin" style="color:#616161">
                  <q-tooltip>
                    <q-card-media>
                      <img style="width:100px" src="../statics/qcode.jpg">
                    </q-card-media>
                  </q-tooltip>
                </q-icon>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.facebook.com/openfiestacenter/" target="_blank"><q-icon name="fab fa-lg fa-facebook"></q-icon></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.youtube.com/channel/UCGUuVdYOkvFy2YiSGEFwTtA" target="_blank"><q-icon name="fab fa-lg fa-youtube"></q-icon></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://twitter.com/open_fiesta" target="_blank"><q-icon name="fab fa-lg fa-twitter"></q-icon></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="https://www.instagram.com/openfiesta/" target="_blank"><q-icon name="fab fa-lg fa-instagram"></q-icon></a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a href="mailto:openfiesta@tsinghua.edu.cn"><q-icon name="fas fa-lg fa-envelope"></q-icon></a>
              </div>
              </div>
            </div>
         </div>
       <p></p>
     </span>

    <!-- <div class="flex flex-center q-caption text-center text-no-wrap" style="color: #231815">{{ $t("openfiestacenter") }}</div> -->
    <p class="flex flex-center">
    </p>
        <div v-scroll="scrolled" id="summary" class="flex flex-center">
        <span class="lt-md inline">
          <q-layout-drawer
            side="left"
            v-model="drawer"
            :overlay="leftOverlay"
            :behavior="leftBehavior"
            :breakpoint="leftBreakpoint"
            :content-class="$q.theme === 'mat' ? 'bg-grey-3' : null"
          >
            <q-scroll-area class="fit">
              <q-list-header>
                <router-link :to=" '/' ">
                  <i class="fas fa-home"></i>
                </router-link>
                <!-- <q-btn flat v-if = "locale=='zh' " @click="switchEnglish" label="English">
                </q-btn>
                <q-btn flat v-else @click="switchChinese" label="简体中文">
                </q-btn> -->
                <p></p>
                <div v-show = "$route.path == '/' ">
                  <q-select
                    inverted-light
                    inset
                    separator
                    v-model="lang"
                    :options="langs"
                  />
                </div>
              </q-list-header>

              <q-collapsible :label="$t('education')">
                <q-item :to=" '/iidprogram' ">
                  <!-- <q-item-side icon="fab fa-connectdevelop" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("iidprogram")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/bioprogram' ">
                  <!-- <q-item-side icon="fas fa-heartbeat" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("bioprogram")}}</q-item-tile>
                  </q-item-main>
                </q-item>
              </q-collapsible>
              <q-item-separator inset />

              <q-collapsible :label="$t('admission')">
                <q-item :to=" '/student/china' ">
                  <!-- <q-item-side icon="fas fa-graduation-cap" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("mainlandstudent")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/student/hmt' ">
                  <!-- <q-item-side icon="fas fa-graduation-cap" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("hmtstudent")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/student/oversea' ">
                  <!-- <q-item-side icon="fas fa-graduation-cap" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("overseastudent")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <!-- <q-item :to=" '/scholarship' ">
                  <q-item-side icon="fas fa-dollar-sign" />
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("financialaid")}}</q-item-tile>
                  </q-item-main>
                </q-item> -->
              </q-collapsible>
              <q-item-separator inset />

              <q-collapsible :label="$t('faculty')">
                <q-item :to=" '/iid' ">
                  <!-- <q-item-side icon="fab fa-connectdevelop" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("iid")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/bio' ">
                  <!-- <q-item-side icon="fas fa-heartbeat" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("bio")}}</q-item-tile>
                  </q-item-main>
                </q-item>
              </q-collapsible>
              <q-item-separator inset />

              <q-collapsible :label="$t('platform')">
                <q-item :to=" '/lab' ">
                  <!-- <q-item-side icon="fas fa-flask" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("laboratory")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/cooperation' ">
                  <!-- <q-item-side icon="device_hub" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("cooperation")}}</q-item-tile>
                  </q-item-main>
                </q-item>
              </q-collapsible>
              <q-item-separator inset />

              <q-collapsible :label="$t('project')">
                <q-item :to=" '/project' ">
                  <!-- <q-item-side icon="fas fa-edit" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("studentproject")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <!-- <q-item :to=" 'achievement' ">
                  <q-item-side icon="fas fa-trophy" />
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("achievement")}}</q-item-tile>
                  </q-item-main>
                </q-item> -->
              </q-collapsible>

              <q-item-separator inset />
              <q-collapsible :label="$t('update')">
                <q-item :to=" '/events' ">
                  <!-- <q-item-side icon="event" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("events")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/news' ">
                  <!-- <q-item-side icon="far fa-newspaper" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("news")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/notice' ">
                  <!-- <q-item-side icon="message" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("notice")}}</q-item-tile>
                  </q-item-main>
                </q-item>
              </q-collapsible>

              <q-item-separator inset />
                <q-collapsible :label="$t('campus')">
                    <q-item :to=" '/photowall' ">
                      <!-- <q-item-side icon="fas fa-camera" /> -->
                      <q-item-main>
                        <q-item-tile label color="grey-8" class ="q-body-2">{{$t("photowall")}}</q-item-tile>
                      </q-item-main>
                    </q-item>
                    <q-item :to=" '/campusmap' ">
                      <!-- <q-item-side icon="fas fa-map" /> -->
                      <q-item-main>
                        <q-item-tile label color="grey-8" class ="q-body-2">{{$t("campusmap")}}</q-item-tile>
                      </q-item-main>
                    </q-item>
                </q-collapsible>
              <q-item-separator inset />

              <q-collapsible :label="$t('about')">
                <q-item :to=" '/overview' ">
                  <!-- <q-item-side icon="note" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("overview")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/video' ">
                  <!-- <q-item-side icon="videocam" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class="q-body-2">{{$t("video")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <!-- <q-item :to=" '/committee' ">
                  <q-item-side icon="people" />
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("committee")}}</q-item-tile>
                  </q-item-main>
                </q-item> -->
                <!-- <q-item :to=" '/recruit' ">
                  <q-item-side icon="fas fa-id-card" />
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">
                      {{$t("recruit")}}
                    </q-item-tile>
                  </q-item-main>
                </q-item> -->
                <q-item :to=" '/contact' ">
                  <!-- <q-item-side icon="email" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("contact")}}</q-item-tile>
                  </q-item-main>
                </q-item>
              </q-collapsible>
              <p></p>
              <!-- <q-search
                style="width: 256px;"
                class ="on-right"
                v-model="searchModel"
                :debounce="600"
                :placeholder = "$t('search')"
                icon="search"
              /> -->
              <div v-if="scrolling" style="padding: 25px 16px 16px;">
                <p class="caption" v-for="n in 50" :key="`left-${n}`">
                  <em></em>
                </p>
              </div>
            </q-scroll-area>
          </q-layout-drawer>
          <q-btn
            @click="drawer = !drawer"
            class = "fixed-top-right"
            style = "margin-top: 20px; margin-right: 20px"
            flat
            round
            dense
            icon="menu"
          />
        </span>
          <!-- <img class="logo" src="../statics/logo/tsinghua.png"> -->
          <span class ="gt-md">
            <router-link :to="'./' ">
              <img id ="smallogo" src="../statics/icons/favicon-32x32.png">
            </router-link>
          </span>
          <!-- <q-btn no-wrap flat color="grey-8" @click="gotohome" :label="$t('homepage')">
          </q-btn>
          &nbsp;&nbsp;&nbsp; -->
          <span class="gt-xs inline">

            <div class="dropdown">
              <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('about')}}</q-btn>
              <div class="dropdown-content">
                <q-item :to=" '/overview' ">
                  <!-- <q-item-side icon="note" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("overview")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <q-item :to=" '/video' ">
                  <!-- <q-item-side icon="videocam" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class="q-body-2">{{$t("video")}}</q-item-tile>
                  </q-item-main>
                </q-item>
                <!-- <q-item :to=" '/committee' ">
                  <q-item-side icon="people" />
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("committee")}}</q-item-tile>
                  </q-item-main>
                </q-item> -->
                <!-- <q-item :to=" '/recruit' ">
                  <q-item-side icon="fas fa-id-card" />
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("recruit")}}</q-item-tile>
                  </q-item-main>
                </q-item> -->
                <q-item :to=" '/contact' ">
                  <!-- <q-item-side icon="email" /> -->
                  <q-item-main>
                    <q-item-tile label color="grey-8" class ="q-body-2">{{$t("contact")}}</q-item-tile>
                  </q-item-main>
                </q-item>
              </div>
            </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('admission')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/student/china' ">
                <!-- <q-item-side icon="fas fa-graduation-cap" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("mainlandstudent")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/student/hmt' ">
                <!-- <q-item-side icon="fas fa-graduation-cap" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("hmtstudent")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/student/oversea' ">
                <!-- <q-item-side icon="fas fa-graduation-cap" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("overseastudent")}}</q-item-tile>
                </q-item-main>
              </q-item>
            </div>
          </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('education')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/iidprogram' ">
                <!-- <q-item-side icon="fab fa-connectdevelop" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("iidprogram")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/bioprogram' ">
                <!-- <q-item-side icon="fas fa-heartbeat" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("bioprogram")}}</q-item-tile>
                </q-item-main>
              </q-item>
            </div>
          </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('faculty')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/iid' ">
                <!-- <q-item-side icon="fab fa-connectdevelop" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("iid")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/bio' ">
                <!-- <q-item-side icon="fas fa-heartbeat" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("bio")}}</q-item-tile>
                </q-item-main>
              </q-item>
            </div>
          </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('platform')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/lab' ">
                <!-- <q-item-side icon="fas fa-flask" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("laboratory")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/cooperation' ">
                <!-- <q-item-side icon="device_hub" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("cooperation")}}</q-item-tile>
                </q-item-main>
              </q-item>
            </div>
          </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('project')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/project' ">
                <!-- <q-item-side icon="fas fa-edit" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("studentproject")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <!-- <q-item :to=" 'achievement' ">
                <q-item-side icon="fas fa-trophy" />
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("achievement")}}</q-item-tile>
                </q-item-main>
              </q-item> -->
            </div>
          </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('update')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/events' ">
                <!-- <q-item-side icon="event" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("events")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/news' ">
                <!-- <q-item-side icon="far fa-newspaper" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("news")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/notice' ">
                <!-- <q-item-side icon="message" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("notice")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <!-- <q-item-separator inset />
              <q-item :to=" './calendar' ">
                <q-item-side icon="date_range" inverted color="tertiary" />
                <q-item-main>
                  <q-item-tile label>{{$t("calendar")}}</q-item-tile>
                </q-item-main>
              </q-item> -->
            </div>
          </div>

          <div class="dropdown">
            <q-btn no-wrap flat icon-right="arrow drop down" class="dropbtn">{{$t('campus')}}</q-btn>
            <div class="dropdown-content">
              <q-item :to=" '/photowall' ">
                <!-- <q-item-side icon="fas fa-camera" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("photowall")}}</q-item-tile>
                </q-item-main>
              </q-item>
              <q-item :to=" '/campusmap' ">
                <!-- <q-item-side icon="fas fa-map" /> -->
                <q-item-main>
                  <q-item-tile label color="grey-8" class ="q-body-2">{{$t("campusmap")}}</q-item-tile>
                </q-item-main>
              </q-item>
            </div>
          </div>
          <!-- <div class="dropdown">
          <q-search
            style="width: 150px; top: 7px"
            v-model="searchModel"
            :debounce="600"
            :placeholder = "$t('search')"
            icon="search"
            hide-underline
            class="q-body-2"
          />
        </div> -->
          </span>
        </div>
        <q-item-separator style="margin: 30px" />

  <q-page-container style="margin: 30px">
    <router-view />
  </q-page-container>

  <div text-color="grey-8" align="center">
    <q-card-separator/>
    <div v-show = "$route.path == '/' " class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 flex flex-center" style="align-items: start;">
        <q-card flat>
          <p></p>
          <div class ='q-subheading'>{{$t("linku")}}</div>
          <p></p>
          <q-item-separator />
                <q-item dense>
                  <a href="http://www.tsinghua.edu.cn/" target="_blank">
                    <div class="q-caption">{{$t("tsinghua")}}</div>
                  </a>
                </q-item>
                <q-item dense>
                  <a href="http://www.sz.tsinghua.edu.cn/" target="_blank">
                    <div class="q-caption">{{$t("tsinghuasz")}}</div>
                  </a>
                </q-item>
                <q-item dense v-show="locale=='zh'">
                  <a href="http://yz.tsinghua.edu.cn/" target="_blank">
                    <div class="q-caption">清华大学研究生招生网</div>
                  </a>
                </q-item>
                <q-item dense>
                  <a href="http://is.tsinghua.edu.cn/" target="_blank">
                    <div class="q-caption">{{$t("interstudentoffice")}}</div>
                  </a>
                </q-item>
              <q-item-separator />
        </q-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 flex flex-center" style="align-items: start;">
        <q-card flat>
        <p></p>
        <div class ='q-subheading'>{{$t("linkn")}}</div>
        <p></p>
        <q-item-separator />
        <q-item dense>
          <a href="http://cri-paris.org/" target="_blank">
            <div class="q-caption">{{$t("cri")}}</div>
          </a>
        </q-item>
        <q-item dense>
          <a href="https://www.univ-paris5.fr/eng" target="_blank">
            <div class="q-caption">{{$t("descartes")}}</div>
          </a>
        </q-item>
        <q-item dense>
          <a href="http://www.isdg-shenzhen.org/" target="_blank">
            <div class="q-caption">{{$t("isdg")}}</div>
          </a>
        </q-item>
        <q-item dense>
          <a href="http://www.ul4gg.org/" target="_blank">
            <div class="q-caption">{{$t("unitedlab")}}</div>
          </a>
        </q-item>

    <p></p>
  </q-card>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4" style="align-items: start;">
          <!-- <div class ='q-subheading'>{{$t("wechatoffical")}}</div> -->
          <p></p>
          <div class ='q-subheading'>{{$t("social")}}</div>
          <p></p>
          <q-card inline style="width: 125px">
            <q-card-media>
              <img src="../statics/qcode.jpg">
            </q-card-media>
          </q-card>
            <div class="q-pa-lg">
              <a href="https://www.youtube.com/channel/UCGUuVdYOkvFy2YiSGEFwTtA" target="_blank"><q-icon name="fab fa-lg fa-youtube"></q-icon></a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://twitter.com/open_fiesta" target="_blank"><q-icon name="fab fa-lg fa-twitter"></q-icon></a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.instagram.com/openfiesta/" target="_blank"><q-icon name="fab fa-lg fa-instagram"></q-icon></a>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="mailto:openfiesta@tsinghua.edu.cn"><q-icon name="fas fa-lg fa-envelope"></q-icon></a>
              <!-- &nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://github.com/openfiesta" target="_blank"><i class="fab fa-lg fa-github"></i></a> -->
            </div>
            <!-- <a href="http://www.tsinghua.edu.cn/" target="_blank">
              <img class="logo" src="../statics/logo/tsinghua.png">
            </a>
            <a href="http://cri-paris.org/" target="_blank">
              <img class="logo2" src="../statics/logo/cri.png">
            </a> -->

      </div>
    </div>

    <q-card-separator/>
    <q-card-main>
      {{ $t("footer") }}
      <!-- <i class="material-icons">edit</i> designed by Ji Li  -->
    </q-card-main>
  </div>

</q-layout>

</template>
<script>
import {
  openURL
} from 'quasar'
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'LayoutDefault',
  data (
  ) {
    return {
      locale: this.$store.state.locale,
      leftDrawerOpen: this.$q.platform.is.desktop,
      drawer: false,
      langs: [
        {
          label: 'English',
          value: 'en'
        },
        {
          label: '简体中文',
          value: 'zh'
        }
      ],
      lang: this.$i18n.locale
    }
  },
  watch: {
    lang (lang) {
      this.$i18n.locale = lang
      this.locale = this.$store.state.locale = this.$i18n.locale
      import(`quasar/i18n/${lang}`).then(language => {
        this.$q.i18n.set(language.default)
        this.reload()
      })
    }
  },
  computed: {
    left: {
      get () { return this.$store.state.layoutDemo.left },
      set (val) { this.$store.commit('layoutDemo/setLeft', val) }
    },
    ...mapGetters(['view']),
    ...mapState([
      'leftOverlay', 'leftBehavior', 'leftBreakpoint',
      'scrolling'
    ])
  },
  methods: {
    openURL,
    scrolled (position) {
      if (position > 300) {
        document.getElementById('summary').style.top = '0px'
        document.getElementById('summary').style.position = 'fixed'
        document.getElementById('summary').style.backgroundColor = '#F3F3F3'
        document.getElementById('summary').style.opacity = 0.85
        document.getElementById('summary').style.width = '100%'
        document.getElementById('smallogo').style.visibility = 'visible'
      } else {
        document.getElementById('summary').style.position = 'relative'
        document.getElementById('summary').style.top = '2px'
        document.getElementById('smallogo').style.visibility = 'hidden'
      }
    },
    // searchModel () {},
    gotohome () {
      this.$router.push('/')
    },
    // switchEnglish () {
    //   this.$store.state.locale = this.locale = this.$i18n.locale = 'en'
    //   // this.locale = this.$i18n.locale = 'en'
    //   // this.$router.push('/')
    // },
    // switchChinese () {
    //   this.$store.state.locale = this.locale = this.$i18n.locale = 'zh'
    //   // this.locale = this.$i18n.locale = 'zh'
    //   // this.$router.push('/')
    // },
    gotobio () {
      this.$router.push('/bio')
    },
    gotoiid () {
      this.$router.push('/iid')
    },
    gotoisdg () {
      window.open('http://www.isdg-shenzhen.org/')
    },
    gotoforum () {
      window.open('http://isdg.club/')
    }
  },
  Created () {
  },
  mount () {
  }
}

</script>

<style>
/* .logo {
  width: auto;
  height: 36px;
}
.logo2 {
  width: auto;
  height: 36px;
} */
#smallogo {
  height: 25px;
  width: auto;
}

#logomain {
  z-index: 10;
  width: 400px;
}

a {
  color: #515556;
  text-decoration: none;
}

#summary {
  z-index: 10;
}

a:hover {
  color: #FBA037;
}
.dropbtn {
    background-color: #F3F3F3;
    color: #616161;
    font-size: 13.5px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #105193;
    color: white;
}

</style>
